<div data-controller="tagify">
  <%= text_field_tag "", "", placeholder: "", class: "input h-auto", autocomplete: "off", "data-tagify-target": "te" %>
  <%= @form.hidden_field :tag_list, id: "tag_list", "data-tagify-target": "tl", value: @tag_list %>
</div>
