<div class="drawer-side">
  <label for="date-sidebar aria-label="close sidebar" class="drawer-overlay"></label>
  <div style="padding-top: 70px;">
    <div class="card bg-base-100 min-h-full w-80 p-4">
      <div class="card-block">
        <div class="d-flex justify-center">
          <div class="mx-auto" data-controller="calendar" data-calendar-date-value="<%= @day %>"">
            <div data-calendar-target="cal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>