<table class="table table-bordered table-rounded">
  <tbody>
    <tr>
      <td class="w-[9em]">
        名前
      </td>
      <td>
        <%= @frame.name %>
      </td>
    </tr>
    <tr>
      <td>
        撮影者/作者
      </td>
      <td>
        <%= @frame.creator_name %>
      </td>
    </tr>
    <tr>
      <td>
        撮影日時
      </td>
      <td>
        <%= @frame.shooted_at.present? ? l(@frame.shooted_at) : "" %>
      </td>
    </tr>
    <tr>
      <td>
        コメント
      </td>
      <td class="wrap-break-word">
        <%= simple_format(h(@frame.comment)) %>
      </td>
    </tr>
  </tbody>
</table>
