RUBY_YJIT_ENABLE=1
DATABASE_USER_NAME="root"
DATABASE_PASSWORD=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
BACKEND_ORIGIN_URL="http://localhost:3000"
RAILS_MASTER_KEY=
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=
MINIO_FORCE_PATH_STYLE=true
AWS_REGION=us-west-1
