<div id="load-next" class="flex justify-center">
  <%= if @pagy.next.present?
        link_to("もっとみる",
                { controller: "frames", action: "next", params: FrameHelper.paging_query_map(page: @pagy.next) },
                class: "btn btn-outline btn-primary rounded-full bg-white", "data-turbo-prefetch": false)
      end %>
</div>
