<%= form_with url: root_path, local: true, method: :get, html: { data: { controller: "frameSearch", action: "submit->frameSearch#submit" } } do |form| %>
  <div class="flex justify-start">
    <table class="table table-bordered table-rounded">
      <tbody>
        <tr>
          <td colspan="2">
            <div class="tooltip tooltip-top" data-tip="タグ or 名前 or 撮影/登録/更新日">
              <%= form.text_field "", id: "word", placeholder: "", class: "input input-bordered w-60", value: "", "data-calendar-target": "word", "data-frameSearch-target": "word", "data-action": "input->frameSearch#clearWordMessage" %>
            </div>
            <div data-frameSearch-target="wordMessage" class="text-red-500 text-xs"></div>
          </td>
        </tr>
        <tr>
          <td class="w-[6em]">
            <label for="tag_name">タグ：</label>
          </td>
          <td>
            <%= form.text_field "", id: "tag_name", placeholder: "", class: "input input-bordered w-40", value: "", "data-frameSearch-target": "tag", "data-action": "input->frameSearch#clearTagMessage" %>
            <div data-frameSearch-target="tagMessage" class="text-red-500 text-xs"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex justify-start pt-2">
    <%= form.submit "検索", class: "btn btn-outline btn-primary", name: nil %>
  </div>
<% end %>
