          <% tags = frame.tags_preview %>
          <% if tags.size > 0 %>
          <div class="d-flex justify-content-sm-center">
            <div class="col-sm-6">
              <% tags.each do |tag| %>
              <%= link_to frames_path({q: tag}), "data-turbo": false do %><div class="badge rounded-pill bg-light text-info"><%= tag %></div><% end %>
              <% end %>
            </div>
          </div>
          <% end %>