          <% tags = frame.tags_preview %>
          <% if tags.size > 0 %>
          <div class="d-flex justify-content-sm-center">
            <div class="col-sm-6">
              <% tags.each do |tag| %>
              <a class="btn btn-outline-info btn btn-sm rounded-pill">
                <%= tag %>
              </a>
              <% end %>
            </div>
          </div>
          <% end %>