<div popover="auto" id="delete_modal" class="popover-center-end rounded-[10px] mt-1">
  <div class="card shadow gap-2 p-1 rounded-[10px] border border-red-200">
    <div>
      削除してもよろしいですか？
      <%= link_to "削除", @path, data: { turbo_method: :delete }, class: "btn btn-sm btn-outline btn-secondary" %>
    </div>
  </div>
</div>
