<div class="hidden" data-controller="pswp" data-pswp-selector-value=".psw" data-pswp-anchor-value="a.ps"></div>
<%= render Frames::More::List::Collection::Component.with_collection(@frames, tag: @tag, from: @from, pagy: @pagy) %>
