<%= form_with url: frames_path, local: true, method: :get, class: "flex items-center gap-2", html: { data: { controller: "tagSearch", action: "submit-> tagSearch#submit" } } do |form| %>
  <div class="tooltip tooltip-bottom" data-tip="タグ or 名前 or 撮影/登録/更新日">
    <%= form.text_field "", placeholder: "", class: "input input-bordered w-50", value: @word, "data-tagSearch-target": "word" %>
    <%= form.hidden_field :q, "data-tagSearch-target": "q" %>
  </div>
  <%= form.submit "検索", class: "btn btn-outline btn-primary", name: nil %>

  <label for="date-sidebar" aria-label="open sidebar" class="btn btn-outline btn-primary">
    <i class="bi bi-calendar"></i>
  </label>
<% end %>
