<%= form_with url: frames_path, local: true, method: :get, class: "flex items-center gap-2" do |form| %>
  <div class="tooltip tooltip-bottom" data-tip="タグ or 名前 or 撮影/登録/更新日">
    <%= form.text_field :q, placeholder: "", class: "input input-bordered w-50", value: @word %>
  </div>
  <%= form.submit "検索", class: "btn btn-outline btn-primary", name: nil %>

  <label for="date-sidebar" aria-label="open sidebar" class="btn btn-outline btn-primary">
    <i class="bi bi-calendar"></i>
  </label>
<% end %>
