<br>
<div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
  <div class="card-body divide-y divide-gray-200">
    <div class="flex justify-start pb-1">
      <%= link_to prev_url, class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>ログイン
    </div>
    <div>
      <div class="flex justify-center gap-2 mb-2">
        <%= render GoogleLogin::Component.new %>
        <%= link_to "ユーザー登録", signup_path, class: "btn btn-outline btn-primary" %>
      </div>
      <%= render "users/sessions/form/new" %>
    </div>
  </div>
</div>
