<button type="submit" class="btn btn-outline btn-primary" data-turbo-prefetch="false">
  <span class="show-when-enabled"><%= @label %></span>
  <span class="show-when-disabled">送信中...</span>
</button>
