<%= render Users::Show::Component.new(user: @user) %>

<div id="list" class="grid grid-cols-1 sm:grid-cols-4 items-start pt-2 lb">
  <%= render Frames::More::List::Component.new(frames: @frames, from: "user_profile", pagy: @pagy) %>
</div>

<div class="flex justify-center">
  <div class="mx-auto rounded-[5px] pt-2">
    <%== @pagy.series_nav %>
  </div>
</div>
