<%= render Users::Show::Component.new(user: @user) %>

<div id="list" class="pt-2 lb" data-controller="pswipe" data-pswipe-selector-value=".lb" data-pswipe-anchor-value="a.ps">
  <%= render Frames::More::List::Component.new(frames: @frames, from: "user_profile", pagy: @pagy) %>
</div>

<div class="flex justify-center">
  <div class="mx-auto rounded-[5px] pt-2">
    <%== @pagy.series_nav %>
  </div>
</div>
