<nav class="navbar navbar-expand-sm navbar-light c-bgcolor">
  <div class="container-fluid">
    <div class="align-middle">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="bi bi-palette"></i> Easel
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    </div>
  </div>
</nav>