<nav class="navbar navbar-expand-smm fixed-top navbar-light bg-color-white">
  <div class="container-fluid">
    <div class="align-middle">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="bi bi-palette"></i> Easel
      <% end %>
    </div>
  </div>
</nav>
