//@use "rails_admin/src/rails_admin/styles/base" with (
//  //$fa-font-path: ".";
//  $fa-font-path: "@fortawesome/fontawesome-free/webfonts"
//);
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import 'rails_admin/src/rails_admin/styles/base';
