google:
  client_id: <%= ENV.fetch('GOOGLE_CLIENT_ID') { '' } %>
  client_secret: <%= ENV.fetch('GOOGLE_CLIENT_SECRET') { '' } %>
origin: <%= ENV.fetch('BACKEND_ORIGIN_URL') { 'http://localhost' } %>
front:
  api:
    origin: <%= "#{ ENV.fetch('BACKEND_ORIGIN_URL') { 'http://localhost' } }/api/front/v1" %>
sorcery:
  google_callback_url: <%= "#{ ENV.fetch('BACKEND_ORIGIN_URL') { 'http://localhost' } }/oauth/callback?provider=google" %>