<% if @frame.file.present? %>
  <% if @original %>
    <div class="d-flex justify-content-sm-center">
      <% if @photoswipe.present? && @photoswipe == true %>
        <div data-controller="pswipe" data-pswipe-target="ps" id="image">
          <%= link_to image_tag(@frame.file_url(:three), class: "mx-auto"), @frame.file_url, class: "mx-auto" %>
        </div>
      <% else %>
        <div data-controller="lightbox">
          <%= link_to image_tag(@frame.file_url(:three), class: "mx-auto"), @frame.file_url, class: "mx-auto lb" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex justify-content-sm-center">
      <%= image_tag(@frame.file_url(:three), class: "mx-auto") %>
    </div>
  <% end %>
  <br>
<% end %>
