<style>
  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
    margin: 10px 0;
  }
</style>

<!-- This file lives in app/views/errors/forbidden.html.erb -->
<br>
<div class="card">
  <div class="card-block text-center">
    <h1>Forbidden.</h1>
  </div>
  <div class="card-footer text-center">
    <p>You are not authorized to access this page.</p>
  </div>
</div>
