<style>
  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
    margin: 10px 0;
  }
</style>

<!-- This file lives in app/views/errors/internal_server_error.html.erb -->
<br>
<div class="card">
  <div class="card-block text-center">
    <h1>We're sorry, but something went wrong.</h1>
  </div>
  <div class="card-footer text-center">
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</div>
