<style>
  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
    margin: 10px 0;
  }
</style>

<!-- This file lives in app/views/errors/not_found.html.erb -->
<br>
<div class="card">
  <div class="card-block text-center">
    <h1>The page you were looking for doesn't exist.</h1>
    <p>You may have mistyped the address or the page may have moved.</p>
  </div>
  <div class="card-footer text-center">
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</div>
