        <% if original %>
        <div class="d-flex justify-content-sm-center">
          <%= link_to image_tag(user.image_url_for_display(:three), class: 'mx-auto'), user.image_url, class: 'mx-auto', style: "width:100px;height:100px;", "data-frame-target": "lm" %>
        </div>
        <% else %>
        <div class="d-flex justify-content-sm-center">
          <%= image_tag(user.image_url_for_display(:three), class: 'mx-auto', style: "width:100px;height:100px;") %>
        </div>
        <% end %>
        <br>