<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-color-white">
  <div class="container-fluid">
    <div class="align-middle">
      <%= link_to "/", class: "navbar-brand" do %>
        <i class="bi bi-palette"></i> Easel
      <% end %>
    </div>
  </div>
</nav>
