<% if @model.image.present? %>
<div data-preview-target="content" class="d-flex justify-content-sm-center" style="display: block;">
  <%= attachment_image_tag(@model, :image, :fit, 300, 300, class: 'mx-auto', style: 'max-width: 300px; max-height: 300px; display: block;', "data-preview-target": "image " ) %>
  <br>
</div>
<% else %>
<div data-preview-target="content" class="d-flex justify-content-sm-center" style="display: none;">
  <img data-preview-target="image" class="mx-auto" style="max-width: 300px; max-height: 300px; display: block;">
  <br>
</div>
<% end %>