  <turbo-frame id="load-more" class="d-flex col-sm-12 justify-content-sm-center" data-controller="pagination">
    <div class="mx-auto">
      <%= link_to_next_page page_scope, 'もっとみる', params: { controller: 'frames', action: 'more', q: word }, theme: 'bootstrap-5' %>
    </div>
  </turbo-frame>