<div id="frames">
  <br>
  <%= render Frames::More::Prev::Component.new(pagy: @pagy) %>
  <div id="list" class="lb" data-controller="pswipe" data-pswipe-selector-value=".lb" data-pswipe-anchor-value="a.ps">
    <%= render Frames::More::List::Component.new(frames: @frames, from: "", pagy: @pagy) %>
  </div>
  <%= render Frames::More::Next::Component.new(pagy: @pagy) %>

  <% if false %><div class="flex justify-center">
    <div class="mx-auto rounded-[5px] pt-2">
      <%== @pagy.series_nav %>
    </div>
  </div><% end %>
</div>
