<div id="frames">
  <br>
  <%= render partial: "frames/more/load_prev", locals: { pagy: @pagy } %>
  <div id="list">
    <%= render partial: "frames/more/list", locals: { frames: @frames, page: "" } %>
  </div>
  <%= render partial: "frames/more/load_next", locals: { pagy: @pagy } %>

  <% if false %><div class="flex justify-center">
    <div class="mx-auto rounded-[5px] pt-2">
      <%== pagy_nav(@pagy) %>
    </div>
  </div><% end %>
</div>
