<div id="frames">
  <br>
  <%= render partial: "frames/more/load_prev", locals: { pagy: @pagy, word: @word } %>
  <div id="list">
    <%= render partial: "frames/more/list", locals: { frames: @frames } %>
  </div>
  <%= render partial: "frames/more/load_next", locals: { pagy: @pagy, word: @word } %>

  <% if false %><div class="d-flex col-sm-12 justify-content-sm-center">
    <div class="mx-auto kadomaru-5" style="padding-top: 20px;">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div><% end %>
</div>
<br>
