<div id="frames">
  <br>
  <%= render Frames::More::Prev::Component.new(pagy: @pagy) %>
  <div id="list" class="grid grid-cols-1 sm:grid-cols-4 items-start lb">
    <%= render Frames::More::List::Component.new(frames: @frames, from: "", pagy: @pagy) %>
  </div>
  <%= render Frames::More::Next::Component.new(pagy: @pagy) %>

  <% if false %><div class="flex justify-center">
    <div class="mx-auto rounded-[5px] pt-2">
      <%== @pagy.series_nav %>
    </div>
  </div><% end %>
</div>
