<%= turbo_frame_tag 'users' do %>
  <br>
  <div class="row">
    <% @frames.each do |frame| %>
    <div class="card col-sm-3 kadomaru">
      <br>
      <% if frame.image.present? %>
      <%= link_to attachment_image_tag(frame, :image, :fit, 200, 200, class: 'card-img-top'), frame_path(frame), class: 'mx-auto', "data-turbo-frame": "_top", "data-turbo": false %>
      <br>
      <% end %>
      <div class="card-block">
        <div class="d-flex justify-content-sm-center">
          <div class="mx-auto">
            <%= frame.name %>
          </div>
        </div>
        <br>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <div class="d-flex col-sm-12 justify-content-sm-center">
    <div class="mx-auto">
      <%= paginate @frames, params: { q: @word },theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
<% end %>
