<%= turbo_frame_tag 'users frames' do %>
  <br>
  <div data-controller="frame">
  <turbo-frame id="list" class="row">
    <%= render partial: "frames/list", locals: {frames: @frames} %>
  </turbo-frame>
  </div>
  <br>
  <%= render partial: "frames/load_more", locals: {page_scope: @frames, word: @word} %>
<% end %>
