<div id="frames">
  <br>
  <%= render partial: "frames/more/load_prev", locals: { pagy: @pagy, word: @word } %>
  <div id="list">
    <%= render partial: "frames/more/list", locals: { frames: @frames } %>
  </div>
  <%= render partial: "frames/more/load_next", locals: { pagy: @pagy, word: @word } %>

  <% if false %><div class="flex justify-center">
    <div class="mx-auto kadomaru-5 pt-20">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div><% end %>
</div>
