<div data-turbo="false">
  <%= helpers.turbo_mount("Comments", props: { "frame-id" => @frame.id.to_s, "api-base-url" => Settings.front.api.base_url, "csrf-token" => helpers.form_authenticity_token, locale: I18n.locale }) %>
</div>
