<div class="grid grid-cols-1 sm:grid-cols-4 items-start" data-controller="lightbox">
<% frames.each do |frame| %>
  <div class="card bg-base-100 shadow shadow-sm rounded-[20px] ml-2 mr-2 mb-2">
    <div class="card-body">
      <% if frame.file.present? %>
        <%= link_to image_tag(frame.file_url(:two), class: ""), frame.file_url,
                    class: "mx-auto lb" %>
      <% end %>
      <%= render Frames::Preview::Tags::Component.new(tag_paths: tag_paths(frame), list: true) %>
      <div class="flex justify-center">
        <div class="mx-auto">
          <%= link_to frame.name, frame_path(frame, params: query_params),
                      class: "mx-auto",
                      "data-turbo": false %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
