    <% frames.each do |frame| %>
    <div class="card col-sm-3 kadomaru" data-controller="frame">
      <% if frame.file.present? %>
      <%= link_to image_tag(frame.file_url(:two), class: 'card-img-top'), frame.file_url, class: 'mx-auto', style: "padding-top: 10px;" , "data-frame-target": "lm" %>
      <br>
      <% end %>
      <div class="card-block">
        <div class="d-flex justify-content-sm-center">
          <div class="mx-auto" style="padding-bottom: 10px;">
            <%= link_to frame.name, frame_path(frame, params: query_params) , class: 'mx-auto', "data-turbo-frame": "_top", "data-turbo": false %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
