<div id="load-next" class="flex justify-center">
  <%= if pagy.next.present?
        query = {}
        query[:q] = items.to_json if items.present?
        query[:page] = pagy.next
        link_to("もっとみる", { controller: "frames", action: "next", params: query },
                class: "btn btn-outline btn-primary rounded-full bg-white")
      end %>
</div>
