<div id="load-prev" class="flex justify-center">
  <%= if pagy.previous.present?
        link_to("もっとみる", { controller: "frames", action: "prev", params: paging_query_map(page: pagy.previous) },
                class: "btn btn-outline btn-primary rounded-full  bg-white mb-2")
      end %>
</div>
