<turbo-frame id="load-prev" class="d-flex col-sm-12 justify-content-sm-center">
  <div class="mx-auto">
    <%= link_to_prev_page page_scope, 'もっとみる', params: { controller: 'frames', action: 'prev', q: word }, class: 'btn btn-light btn-outline-primary rounded-pill' %>
  </div>
</turbo-frame>
