<turbo-frame id="load-prev" class="d-flex col-sm-12 justify-content-sm-center">
  <div class="mx-auto">
    <%= link_to('もっとみる', { controller: 'frames', action: 'prev' , params: { q: word, page: pagy.prev } },
                                               class: 'btn btn-light btn-outline-primary rounded-pill') if pagy.prev.present? %>
  </div>
</turbo-frame>
