<div id="load-prev" class="flex justify-center">
  <%= if pagy.prev.present?
        query = {}
        query[:q] = items.to_json if items.present?
        query[:page] = pagy.prev
        link_to("もっとみる", { controller: "frames", action: "prev", params: query },
                class: "btn btn-outline btn-primary rounded-full  bg-white mb-2")
      end %>
</div>
