<% if @list %>
  <% if @tag_paths.size > 0 %>
    <div class="flex justify-center gap-1">
      <% @tag_paths.each do |tag, tag_path| %>
        <%= link_to tag_path, "data-turbo": false do %><div class="badge badge-outline badge-accent rounded-full"><%= tag %></div><% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if @tag_paths.size > 0 %>
    <div class="flex justify-center gap-1 mb-2">
      <% @tag_paths.each do |tag, tag_path| %>
        <%= link_to tag_path, "data-turbo": false do %><div class="badge badge-outline badge-accent rounded-full"><%= tag %></div><% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
