<div id="load-prev" class="flex justify-center">
  <%= if @pagy.previous.present?
        link_to("もっとみる #{@pagy.page}/#{@pagy.pages}",
                { controller: controller_name, action: "prev", params: FrameHelper.paging_query_map(page: @pagy.previous) },
                class: "btn btn-outline btn-primary rounded-full  bg-white mb-2", "data-turbo-prefetch": false)
      end %>
</div>
