<div class="card bg-base-100 min-h-full w-80 p-4">
  <div class="card-block" data-controller="calendar">
    <div class="flex justify-center mb-2">
      <div class="mx-auto">
        <div data-calendar-target="cal"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <%= render FrameSearch::Component.new %>
    </div>
  </div>
</div>
