<nav class="navbar navbar-expand-sm navbar-light c-bgcolor">
  <%= link_to 'Easel', root_path, class: 'nav-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Upload', new_frame_path, class: 'nav-link' %>
      </li>
    </ul>
    <%= render 'layouts/tag_search'%>
  </div>
</nav>
